@charset "utf-8";
/* CSS Document */

.jmHeaderTable{
	display: table; 
}

.jmHeaderRow1 {
	display: table-row;
}

.jmHeaderRow1 img { 
	width: 100%;
    height: auto;
	
}
.jmHeaderRow{ 
	display: table-row; 
	}
	
.jmHeaderColumn{ 
	display: table-column;

	 }
	 
.jmHeaderCell{ 
	display: table-cell;

	 }
