@charset "utf-8";
/* CSS Document */

.jmHeaderTable{
	display: table; 
	background-image: url("http://ltn2003.github.io/hosting/images/wood-82392.png");
	background-repeat:no-repeat;
	background-size: contain;
	height: 117px;
	width: 100%;
	}
.jmHeaderRow { 
	display: table-row; 

	}
.jmHeaderColumn{ 
	display: table-column;

	 }
	 
.jmHeaderCell{ 
	display: table-cell;

	 }
